<h2>Доступ только по пин-коду</h2>

<%= form_tag event_path(@event), method: :post, data: { turbo: false } do |f| %>

  <div class="col-md-8 col-lg-5 fw-bold mt-3">
    <%= label_tag :pincode, t("activerecord.attributes.event.pincode") %>
    <%= text_field_tag :pincode, params[:pincode], class: "form-control" %>
  </div>

  <div class="my-3">
    <%= submit_tag t("views.buttons.send"), class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to t("views.buttons.main_page"), events_path %>
