<%= form_for [@event, photo], html: { multipart: true }, data: { turbo: false } do |f| %>
  <%= render partial: "partials/form_errors", locals: { model: photo } %>

  <div class="mt-2">
    <%= f.label :photo %>
    <%= f.file_field :photo, class: "form-control" %>
  </div>

  <div class="mt-2">
    <%= f.submit t("views.buttons.upload"), class: "btn btn-primary" %>
  </div>
<% end %>
